<app-header align="center" no-border color="secondary" titulo="Productos de TI"></app-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-img class="impresora" src="/assets/impresoraHP.jfif"></ion-img>

    <ion-card-header>
      <ion-card-title>Impresoras multifunción reacondicionadas de HP</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Reduce costes con las impresoras multifunción reacondicionadas de HP.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/perifericos.jpg"></ion-img>

    <ion-card-header>
      <ion-card-title>Periféricos para orenadores</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Perifericos que mejorarán tu Pc o portátil.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/renting.jfif"></ion-img>

    <ion-card-header>
      <ion-card-title>Renting en impresoras multifunción HP y servicio PPU</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Renting en impresoras multifunción HP.
    </ion-card-content>
  </ion-card>

  
    
  

</ion-content>
