<ion-header class="ion-no-border">
  <ion-toolbar no-border color="secondary">

    <ion-buttons slot="start">
      <ion-back-button text="Regresar" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center;">Acerca De</ion-title>

<ion-buttons slot="end">
  <ion-avatar>
    <img src="/assets/avatar01.jpg">
  </ion-avatar>
</ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content padding fullscreen>

 <!--<ion-grid fixed>-->

  <!--<ion-row>
    <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
      *ngFor="let c of [1.1.1.1.1.1.1.1.1.1.1.1];">-->
    <div style= "display: flex;">
      <ion-card>
        <ion-img src="/assets/progra.jfif"></ion-img>

        <ion-card-header>
          <ion-card-title>Juan Manuel González Benitez</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Soy estudiante del último semestre de la carrera de derecho, con experiencia laboral y un aficionado de la programación, apuntando al nivel junior.
        </ion-card-content>
      </ion-card>
    </div>
    <!--</ion-col>

  </ion-row>

</ion-grid>-->

</ion-content>

