ion-title{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-self: center;
    padding-top: 0px;
}

ion-list{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container-img{
    width: 100%;
}

img{
    width: 100%;
   display: flex;
}

.nombres{
    padding-left: 50px;
}
    

    



